﻿<div class="row padding-left-right-10">
    <h3 class="margin-top-5"><i class="fa fa-check-square-o" aria-hidden="true"></i> Gesti&oacute;n de Alertas - Monitoreo Transaccional</h3>
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">Panel de Gesti&oacute;n <span id="colas-wrapper" class="pull-right"></span></div>
                <div class="panel-body">
                    <div class="alert alert-danger alert-dismissible hidden" id="notificacion-nueva-alerta">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Atenci&oacute;n!</strong><br /><span>Tiene una nueva alerta para gestionar.</span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Alertas Relacionadas <span id="loading-alerta" class="text-primary">- <i class="fa fa-spin fa-spinner" aria-hidden="true"></i> Consultado alertas...</span></div>
                        <table id="grid-alertas"></table>
                        <div id="pager-alertas"></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Historico Alertas</div>
                        <table id="grid-historico"></table>
                        <div id="pager-historico"></div>
                    </div>
                    <div class="panel panel-default padding-top-10">
                        <form class="form-horizontal" id="frm-gestion">
                            <div class="form-group" id="div-nit">
                                <label class="col-md-2 control-label">Documento / N.I.T.:</label>
                                <div class="col-md-4">
                                    <input type="number" name="txtNit" class="form-control input-sm" min="0" max="9999999999" placeholder="Documento / N.I.T"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Gesti&oacute;n:</label>
                                <div class="col-md-4">
                                    <select class="form-control input-sm" name="ddGestion">
                                        <option value=""> -- </option>
                                        <option value="Bloqueo">Bloqueo</option>
                                        <option value="Trx Fraude">Fraude confirmado</option>
                                        <option value="Trx Confirmada">Trx confirmada</option>
                                        <option value="No Riesgo">No riesgo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Estado Transacci&oacute;n:</label>
                                <div class="col-md-4">
                                    <select class="form-control input-sm" name="ddEstadoTrx">
                                        <option value=""> -- </option>
                                        <option>Bloqueo segunda clave</option>
                                        <option>Cliente puente</option>
                                        <option>Cliente receptor</option>
                                        <option>Fraude confirmado</option>
                                        <option>Pendiente confirmar</option>
                                        <option>Punto compromiso</option>
                                        <option>No aplica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="div-saldo">
                                <label class="col-md-2 control-label">Saldo Disponible:</label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control input-sm" name="txtSaldo" min="0" max="9999999" placeholder="Saldo disponible" />
                                </div>
                            </div>
                            <div class="form-group" id="div-cuenta">
                                <label class="col-md-2 control-label">N&uacute;mero de Cuenta:</label>
                                <div class="col-md-4">
                                    <input type="text" name="txtCuenta" class="form-control input-sm" maxlength="11" placeholder="Número de cuenta" />
                                </div>
                            </div>
                            <div class="form-group" id="div-canal">
                                <label class="col-md-2 control-label">Canal:</label>
                                <div class="col-md-4">
                                    <select class="form-control input-sm" name="ddCanal">
                                        <option value=""> -- </option>
                                        <option>Bloqueo segunda clave</option>
                                        <option>Cliente puente</option>
                                        <option>Cliente receptor</option>
                                        <option>Fraude confirmado</option>
                                        <option>Pendiente confirmar</option>
                                        <option>Punto compromiso</option>
                                        <option>No aplica</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-group hidden">
                                <label class="col-md-2 control-label">Tipos Bloqueo:</label>
                                <div class="col-md-6">
                                    <label class="checkbox-inline"><input type="checkbox" value="">S_TD</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">SC</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">T</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">S_TC</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">EFE</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">BOLE</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">TOKEN</label>
                                    <label class="checkbox-inline"><input type="checkbox" value="">SOFTOKEN</label>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Intento de contacto?:</label>
                                <div class="col-md-4">
                                    <select class="form-control input-sm" name="ddIntento">
                                        <option value=""> -- </option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Contacto efectivo?:</label>
                                <div class="col-md-4">
                                    <select class="form-control input-sm" name="ddEfectivo">
                                        <option value=""> -- </option>
                                        <option value="Si">Si</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Observaciones:</label>
                                <div class="col-md-4">
                                    <textarea class="form-control input-sm" name="txtObservaciones" rows="5" style="max-width:100%;" maxlength="250"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="btn-group">
                                        <button id="btn-guardar-gestion" type="button" class="btn btn-success btn-sm" disabled><i class="fa fa-save" aria-hidden="true"></i> Guardar Gesti&oacute;n</button>
                                        <button id="btn-guardar-gestion-carret" type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" id="opcion-estado" data-estado="disponible"><i class="fa fa-circle text-danger"></i> No disponible</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Detalle Alerta <span id="loading-detalle" class="text-primary">- <i class="fa fa-spin fa-spinner" aria-hidden="true"></i> Cargando, espere...</span></div>
                <div class="panel-body">
                    <dl class="dl-horizontal" id="detalle-alerta"></dl>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Informaci&oacute;n Clientes</div>
                <div class="panel-body">
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Informaci&oacute;n!</strong><br /><span id="Tip"></span>
                    </div>
                    <dl class="dl-horizontal" id="info-cliente">
                        <dt>Documento</dt>
                        <dd class="text-muted" id="Documento"></dd>
                        <dt>Tipo documento</dt>
                        <dd class="text-muted" id="TipoDocumento"></dd>
                        <dt>Nombre</dt>
                        <dd class="text-muted" id="Nombre"></dd>
                        <dt>Fecha vinculaci&oacute;n</dt>
                        <dd class="text-muted" id="FechaVinculacion"></dd>
                        <dt>Edad</dt>
                        <dd class="text-muted" id="Edad"></dd>
                        <dt>Profesi&oacute;n</dt>
                        <dd class="text-muted" id="Profesion"></dd>
                        <dt>Ocupaci&oacute;n</dt>
                        <dd class="text-muted" id="Ocupacion"></dd>
                        <dt>Fecha act. datos</dt>
                        <dd class="text-muted" id="FechaActDatos"></dd>
                        <dt>Segmento</dt>
                        <dd class="text-muted" id="Segmento"></dd>
                        <dt>Grupo seguridad</dt>
                        <dd class="text-muted" id="GrupoSeguridad"></dd>
                        <dt>Fecha act. inform.</dt>
                        <dd class="text-muted" id="FechaActInformacion"></dd>
                        <dt>Correo</dt>
                        <dd class="text-muted" id="Correo"></dd>
                        <dt>Tel&eacute;fono 1</dt>
                        <dd class="text-muted" id="Telefono1"></dd>
                        <dt>Tel&eacute;fono 2</dt>
                        <dd class="text-muted" id="Telefono2"></dd>
                        <dt>Celular</dt>
                        <dd class="text-muted" id="Celular"></dd>
                        <dt>Cel. alertas</dt>
                        <dd class="text-muted" id="CelularAlertas"></dd>
                        <dt>Direcci&oacute;n</dt>
                        <dd class="text-muted" id="Direccion"></dd>
                        <dt>Lugar trabajo</dt>
                        <dd class="text-muted" id="LugarTrabajo"></dd>
                        <dt>Direcci&oacute;n trabajo</dt>
                        <dd class="text-muted" id="DireccionTrabajo"></dd>
                        <dt>Ciudad</dt>
                        <dd class="text-muted" id="Ciudad"></dd>
                        <dt>Departamento</dt>
                        <dd class="text-muted" id="Departamento"></dd>
                        <dt>Regi&oacute;n</dt>
                        <dd class="text-muted" id="Region"></dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>
