﻿/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('fonts/RobotoCondensed-Regular.ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges. */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.tab-bordered {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.internal-tab-padding {
    padding: 15px 15px;
}

.padding-left-right-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.margin-top-5 {
    margin-top: 5px;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.dl-horizontal > dt {
    white-space: normal;
}

.ui-jqgrid {
    z-index: 0;
}

.ui-widget.ui-widget-content {
    border: 0px;
}

.loading.ui-state-default.ui-state-active {
    z-index: 999;
}

.FormElement.ui-widget-content.ui-corner-all {
    width: initial;
}

.fm-button.ui-state-default.ui-corner-all {
    height: 30px;
}