﻿@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Inicio";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
}
<div class="row padding-top-30">
    @if(User.Identity.IsAuthenticated && Request.IsAuthenticated)
    {
        if(!User.IsInRole("Monitoreo") || !User.IsInRole("Administrador") || !User.IsInRole("Coordinador_Monitoreo") || !User.IsInRole("Bases_Gestion"))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong class="h4"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> No autorizado!</strong> <br />Usted no est&aacute; autorizado para acceder a ning&uacute;n m&oacute;dulo de SIIGMA, por favor comuniquese con el administrador para obtener ayuda.
            </div>
        }
        else
        {
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                @if(User.IsInRole("Monitoreo") || User.IsInRole("Administrador"))
                {
                    <li role="presentation"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab"><span aria-hidden="true" class="fa fa-dashboard"></span> Tablero</a></li>
                    <li role="presentation"><a href="#alerts" aria-controls="alerts" role="tab" data-toggle="tab"><span aria-hidden="true" class="fa fa-desktop"></span> Alertas</a></li>
                }
                @if(User.IsInRole("Bases_Gestion") || User.IsInRole("Administrador"))
                {
                    <li role="presentation"><a href="#bases" aria-controls="bases" role="tab" data-toggle="tab"><span aria-hidden="true" class="fa fa-database"></span> Bases Gesti&oacute;n</a></li>
                }
            </ul>

        <!-- Tab panes -->
            <div class="tab-content">
                @if(User.IsInRole("Monitoreo") || User.IsInRole("Administrador"))
                {
                    <div role="tabpanel" class="tab-pane" id="dashboard">
                        @Html.Partial("../Monitoreo/_Tablero")
                    </div>
                    <div role="tabpanel" class="tab-pane" id="alerts">
                        @Html.Partial("../Monitoreo/_GestionAlertas")
                    </div>
                }
                @if(User.IsInRole("Bases_Gestion") || User.IsInRole("Administrador"))
                {
                    <div role="tabpanel" class="tab-pane" id="bases">
                        @Html.Partial("../Bases/_BasesGestion")
                    </div>
                }
            </div>
        }
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/inicio")
}